body {
    margin: 0;
    padding: 0;

    font-family: PT Sans, Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* .content-hidden {
    display: none;
} */

header {
    background-color: #f3f7f9;
}

.main-navigation {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;

    width: 100%;
    margin-bottom: 46px;

    background-color: #293449;
}

.main-navigation-bar,
.buy-navigation {
    list-style: none;
}

.main-navigation-logo { 
    display: flex;
}

.main-navigation-logo a {
    font-size: 24px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;
    width: 120px;
    padding: 12px 50px;
    background-color: #ee3643;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #b52933;

    margin-bottom: -5px;
}

.main-navigation-bar a,
.buy-navigation a,
.main-navigation-logo a {
    
    color:#ffffff;
}

.main-navigation-bar a:hover{
    background-color: #212a3a;
}

.main-navigation-logo a:hover{
    background-color: #ca2c37;
}

.main-navigation-logo a:focus{
    background-color: #ba2732;
}

/*.main-navigation-search {
    color: #ffffff;
}*/

.main-navigation-search input{
    display: block;
    color: #000;
    width: 270px;
    padding-top: 14px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 48px;
    border: none;
    background-color: #293449;
    background: url(../img/icon-search.svg.png) no-repeat;
    background-position: left 17px top 14px;
    
}

.main-navigation-search input::placeholder {
    color: #fff;
}

.main-navigation-search input:focus {
    background-color: #ffffff;
    outline-style: none;
    /* change img on red 
    background: url();
    background-image: url(../img/icon-search-focus.svg.png) no-repeat;
    background-position: left 17px top 14px;*/
}

.main-navigation-focus a {
    display: block;
    width: 107px;
    padding-top: 13px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-left: 18px;
}

.main-navigation-focus img {
    vertical-align: text-top;
    margin-right: 11px;
}

.bookmark-img {
    padding-top: 1px;
    opacity: 0.3;
}

.bookmark-img:hover {
    opacity: 1;
}

.basket-img {
    opacity: 0.3;
}

.basket-img:hover {
    opacity: 1;
}

.main-navigation-bar li {
    margin: 0;
    padding: 0;
}

.main-navigation-focus a:focus {
    color: rgba(255,255,255,0.6);

    background-color: #161d29;
}

.buy-navigation a{
    display: block;
    width: 110px;
    padding-top: 16px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    text-align: center;
    background-color: #63a63e;
}

.buy-navigation a:hover {
    background-color: #5fbb2d;
}

.buy-navigation a:focus {
    color: rgba(255,255,255,0.5);

    background-color: #518534;
}

.main-header-down {
    font-family: Cuprum, Arial, sans-serif;
}

.site-info {
    font-style: italic;
    font-size: 16px;
    font-weight: normal;
    line-height: 23px;
    color: #ee3643;
    margin-top: 45px;
    padding-left: 53px;
    flex-grow: 1;
}

.site-tel  {
    margin: 45px 0 0 0;
}

.site-tel a {
    display: block;
    color: #ee3643;
    padding-top: 8px;
    padding-bottom: 7px;
    width: 264px;
    text-align: center;
    border: solid 3px;
    border-color: #ffffff;
}

.site-tel img {
    vertical-align: middle;
    position: relative;
    right: 40px;
}

.site-adres {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    margin: 5px 0 45px  0;
}

.enter-navigation  a{
    font-size: 21px;
    line-height: 21px;
    font-weight: normal;
    color: #000000;

    background-color: #ffffff;
}

.enter-navigation {
    list-style: none;
}

.enter-navigation a:hover {
    color: #ee3643;
}

.enter-navigation a:focus {
    color: rgba(0, 0, 0, 0.3);
}

.enter-navigation {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    margin-left: auto;
    flex-grow: 1;
}

.enter-navigation li {
    margin-top: 45px;
}

.enter-navigation-login {
    padding-top: 11px;
    padding-left: 48px;
    padding-right: 28px;
    padding-bottom: 13px;

    position: relative;
}

.enter-navigation-registration {
    margin-left: 10px;
    padding-top: 11px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 13px;
}

.enter-img {
    position: absolute;
    top: 14px;
    left: 14px;
}



.site-navigation-bar {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 17px;
    line-height: 17px;
    font-weight: normal;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-content: stretch;
    flex-wrap: nowrap;
    list-style: none;
    margin: 0 0 60px;
    padding: 0;
    width: 100%;

    list-style: none;
  
}

.site-navigation-bar li {

    display: flex;
    width: 135px;
}

.site-navigation-bar a {
    display: block; 
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 25px;
    /* padding-right: 30px;
    padding-left: 30px; */
    width: 100%;
    text-align: center;
    
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #293449;
    background-color: #32425c;
}

.site-navigation-bar .bar-left {
    padding-left: 55px;

}

.site-navigation-bar .bar-right {
    padding-right: 55px;
}

.site-navigation-bar a:hover {
    background-color: #293449;
}

.site-navigation-bar a:focus {
    color: rgba(255, 255, 255, 0.5);

    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #1d2739;
    background-color: #1d2739;
}

.site-navigation-bar a.active {
    /* opacity: 0.502; */
    border-bottom-color: #1d2739;
    background-color: #1d2739;
}

.enter-user {
    font-size: 21px;
    line-height: 21px;
    color: #000000;

    background-color: #ffffff;
}

.enter-account-option {
    margin-top: 5px;
    margin-left: 17px;
}

.enter-options {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

.enter-options:hover {
    color: #ee3643;
}

.enter-user:focus {
    color: rgba(0, 0, 0, 0.3);
}

.enter-options:focus {
    color:rgba(50, 66, 92, 0.3)
}

.enter-option-img {
    position: relative;
    bottom: 3px;
}

/*main*/

.catalog-list {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;

    margin: 0;
    padding: 0;

    list-style: none;
}

.catalog-list li {
    width: 300px;
}

.catalog-list a {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;


}

.catalog-list-materials {
    background-color: #ffbf47;
    margin-bottom: 20px;
    display: flex;
    position: relative;
}

.catalog-list-materials a{
    background-color: #e5ac40;
}



.catalog-list-materials-img {
    padding-top: 31px;
    padding-right: 43px;
    padding-bottom: 27px;
    margin-left: auto;
}

.catalog-list-materials-new {
    position: absolute;
    top: 0;
    right: 0;
}

.catalog-list-tools {
    background-color: #3bbce3;
    margin-left: 20px;
    margin-bottom: 20px;
    display: flex;
}

.catalog-list-tools a {
    background-color: #35a9cc;
}

.catalog-list-tools img {
    padding-top: 33px;
    padding-right: 28px;
    padding-bottom: 29px;
    margin-left: auto;
}

.catalog-list-engineering {
    background-color: #dc91d8;
    display: flex;
}

.catalog-list-engineering img {
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    margin-left: auto;
}

.catalog-list-engineering a {
    background-color: #c682c2;
}

.catalog-list-discounts {
    background-color: #8ed78f;
    display: flex;
}

.catalog-list-discounts a {
    background-color: #80c180;
}

.catalog-list-discounts img {
    padding-top: 26px;
    padding-right: 45px;
    padding-bottom: 25px;
    margin-left: auto;
}

.catalog-list-delivery {
    background-color: #ffc047;
    display: flex;
}

.catalog-list-delivery a {
    background-color: #e5ac40;
}

.catalog-list-delivery img {
    padding-top: 32px;
    padding-right: 31px;
    padding-bottom: 28px;
    margin-left: auto;
}

.catalog-list-conteiner-a {
    display: block;
    width: 135px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-left: 23px;
    margin-bottom: 22px;
    border-radius: 2px;
}

.catalog-list-conteiner-p {
    display:block;
    padding-left: 23px;
    padding-top: 24px;
    padding-bottom: 9px;
    margin: 0;
}
/*                                переопределить после разметки под флекс!!!!
.catalog-tools {
    list-style: none;
}
*/
.catalog-tools-drill h3,
.catalog-tools-perforators h3 {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    color: #ffffff;
    margin: 0;
    position: absolute;
    top: 25px;
    left: 25px;
}

.catalog-tools-drill p,
.catalog-tools-perforators p {
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: #ffffff;
    margin: 0;
    position: absolute;
    top: 63px;
    left: 25px;
}

.catalog-tools-drill a,
.catalog-tools-perforators a {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;

    background-color: #ee3643;

    width: 195px;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 9px;
    border-radius: 2px;

    position: absolute;
    left: 25px;
    top: 206px;
    
}

.catalog-slider {
    position: relative;
    height: 266px;
    background-color: #34425a;
}

.catalog-slider input[type="radio"] {
    display: none;
}

.catalog-list .catalog-tools-drill,
.catalog-list .catalog-tools-perforators {
    width: 620px;
    display: none;
}

.catalog-tools-drill {
    background-color: #685c53;
    background-image: url("../img/slider 2.jpg");
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 0;

    width: 620px;
    height: 266px;

}



.catalog-tools-perforators {
    background-color: #8f8985;
    background-image: url("../img/slider 1.jpg");
    background-repeat: no-repeat;

    position: absolute;
    top: 0;
    left: 0;

    width: 620px;
    height: 266px;

}

.slider-controls {
    position: absolute;
    top: 220px;
    left: 294px;
    z-index: 1;

    font-size: 0;

}

.slider-controls label {
    display: inline-block;
    width: 6px;
    height: 6px;
    margin-right: 10px;

    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    cursor: pointer;
}

#btn-1:checked ~ .catalog-tools-drill,
#btn-2:checked ~ .catalog-tools-perforators {
    display: block;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"] {
    background-color: #ee3643;
}


.catalog-tools-btn-left {
    position: absolute;
    left: 25px;
    top: 114px;
    background-color: transparent;
    padding: 0;
    border-style: none;
    cursor: pointer;
    z-index: 1;

}

.catalog-tools-btn-right {
    position: absolute;
    right: 20px;
    top: 114px;
    background-color: transparent;
    padding: 0;
    border-style: none;
    cursor: pointer;
    z-index: 1;
}

/* .catalog-tools-slider-left {
    position: absolute;
    left: 290px;
    top: 220px;
}

.catalog-tools-slider-right {
    position: absolute;
    right: 290px;
    top: 220px;
} 
    */


/*section class="popular-goods"*/

.popular-goods-link {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #32425c;

    background-color: #f9f5f0;

    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    position: relative;
}



.popular-goods-link a {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;

    background-color: #ee3643;

    width: 255px;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 9px;
    border-radius: 2px;
    display: block;

    position: absolute;
    top: 25px;
    right: 24px;

    
}

.popular-goods-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}



/*cut img with out border*/
.popular-goods-item,
.items-goods {
    position: relative;
    width: 220px;
    text-align: center;
    border: 1px solid lightgrey;
    margin-bottom: 20px;
}

.popular-goods-item img {
    width: 100%;
    height: auto;
}

.container-img-new {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
}

.img-new {
    position: absolute;
    right: 0;
}

/*add btn instead img*/
.popular-goods-item:hover,
.items-goods:hover {
    box-shadow: 0 0 10px rgba(122,122,122,0.5);
}

.btn-buy {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #fff;
    width: 135px;
    background-color: #63a63e;
    border: 3px solid #63a63e;
    border-radius: 3px;
    border-bottom-color: #518534;
    padding: 11px 42px 11px 46px;
    margin: 45px 43px 7px 42px;
    cursor: pointer;

}

.btn-buy:hover {
    background-color: #5fbb2d;
    border: 3px solid #5fbb2d;
    border-bottom-color: #518534;

}

.btn-buy:active {
    background-color: #518534;
    border: 3px solid #518534;

}

.btn-bookmarks {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #32425c;
    width: 135px;
    background-color: #fff;
    padding: 11px 29px 9px 33px;
    border: 3px solid #63a63e;
    border-radius: 3px;
    margin-bottom: 16px;
    cursor: pointer;
}

.btn-bookmarks:hover {
    border-color: #32425c;
}

.btn-bookmarks:active {
    opacity: 0.3;

}

.goods-name {
    padding-bottom: 17px;
    padding-top: 27px;
    margin: 0;
}

/* add :focus */

.old-price {
    font-size: 17px;
    line-height: 18px;
    margin: 0;

    padding-bottom: 10px;
    text-decoration: line-through;
    color: #a9a9a9;
    text-align: center;
}

.empty-price {

    padding-bottom: 26px;
}


.new-price {
    width: 141px;
    font-size: 17px;
    line-height: 18px;
    padding-top: 10px ;
    padding-bottom: 10px;
    border-radius: 3px;
    color: #ffffff;
    margin: 0px 35px 20px 42px ;

    /*background-color: #ee3643;*/
    background-image: linear-gradient(45deg, rgba(255, 255, 255, .1) 89%, rgba(255, 255, 255) 11%),
                      linear-gradient(135deg, rgba(238, 54, 67) 89%, rgba(255, 255, 255) 11%);
    /*background-color: linear-gradient(0deg, blue, green 40%, red);*/
    
    text-align: center;
    cursor: pointer;
}

/*section popular-brands*/

.popular-brands-link {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #32425c;

    background-color: #f9f5f0;

    margin-top: 21px;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    position: relative;
}

.popular-brands-link a {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;

    background-color: #ee3643;

    width: 253px;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 9px;
    border-radius: 2px;
    display: block;

    position: absolute;
    top: 25px;
    right: 24px;
}

.popular-brands-list {
    list-style: none;
    margin-top: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.brands-icon {
    width: 220px;
    height: 145px;
    border: 1px solid lightgrey;
    text-align: center;
    display: flex;
    margin-top: 20px;
}

.brands-icon a {
     margin: auto; 

}

.brands-icon:hover {
    box-shadow: 0 0 10px rgba(122,122,122,0.5);
}

/*focus dont work*/
/* change css style (opacity ~30%) */
.brand-icon:focus {
    box-shadow: 0 0 5px rgba(122,122,122,0.5);
}
.brand-icon a img:focus {
    filter: alpha(Opacity=30);
    opacity: 0.3;
}

/*section services*/

.services-flex {
    display: flex;
    flex-direction: column;
    background-color: #f4f8f9;
}

.services-flex-down {
    display: flex;
    max-height: 326px; 
}


.services {
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;


    background-color: #f4f8f9;
}

.services-rendered {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #000000;
}

.services-btn-box {
    padding-top: 38px;
}

.services-btn {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 21px;
    line-height: 30px;
    color: #ffffff;
    text-align: left;
    

    background-color: #32425c;
    display: block;
    border: none;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 20px;
    width: 240px;
    border-top: 2px solid #34425a;
    border-bottom: 2px solid #2f3d56;
}

.services-btn:hover {
    background-color: #293449;
}

.services-btn:focus {
    color: #32425c;

    background-color: #ffffff;
    outline: none;
    border: none;
}

.services-btn-layer {
    display: inline-block;
    position: relative;
    left: 230px;
    top: -228px;

}

.services-list {
    list-style: none;
}

 .services-list-item h3{
     font-family: Cuprum, Arial, sans-serif;
     font-size: 36px;
     line-height: 36px;
     font-weight: normal;
     color: #32425c;
}

.services-delivery-img {
    position: relative;
    top: -153px;
    left: 180px;
}

.services-credit-send {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;

    background-color: #ff5357;
}

/*section company info*/

.flex-info-contacts {
    display: flex;


}

.company-info {
    font-size: 13px;
    line-height: 20px;
    font-weight: normal;

    width: 540px;
    margin-right: 100px;
    margin-bottom: 86px;    
}

.company-info h2 {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
}

.company-info p {
    margin: 0;

}

.company-info p:nth-child(3) {
    margin-top: 30px;
    margin-bottom: 25px;
}

.delivery-company {
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
   
    list-style: none;


}

.delivery-company li {
    margin-top: 22px;
}

.delivery-company div {
    display: inline-block;
    width: 20px;
    height: 20px;
    font-size: 0;
    background-color: transparent;
    border: 0;

    position: absolute;
} 

.delivery-company div::before {
    content: "";
    width: 25px;
    height: 2px;
    background-color: #ee3643;
    border-radius: 1px;

    position: absolute;
    top: 10px;
    left: -40px;

}

.company-info a {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;

    background-color: #ee3643;

    width: 220px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 2px;
    display: block;
    border: none;

    margin-top: 39px;
}

.contacts {
    font-size: 13px;
    line-height: 20px;
    font-weight: normal;

    width: 300px;
    margin-bottom: 86px;
}

.contacts h2 {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
}

.contacts p {
    margin-bottom: 35px;
}

.contacts img {
    width: 300px;
    height: 158px;
}

.contacts button {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;
    background-color: #ee3643;
    cursor: help;

    width: 300px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 2px;
    display: block;
    border: none;

    margin-top: 40px;
    

}

/*footer*/

footer {
    margin: 0px;
    padding: 0px;
    
}

.main-footer-top {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: #f3f7f9;
    background-color: #32425c;


   
}

.flex-for-footer-top {
    display: flex;
    
}

.main-footer-navigation {
    display: flex;
    flex-direction: column;
    
}

.main-footer-navigation-first-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.main-footer-navigation-second-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.main-footer-navigation ul {
    list-style: none;
}


.flex-for-right-top {
    margin-left: auto;
}

.footer-first-list-link {
    color: #f3f7f9;
    padding-left: 30px;
    padding-right: 30px;
}

.footer-second-list-link {
    color: #ffda96;
    padding-left: 30px;
    padding-right: 30px;
}

.footer-first-list-link:hover,
.footer-second-list-link:hover {
    text-decoration: underline;
}

.footer-first-list-link:focus {
    color: rgba(241, 245, 247, 0.5);
}

.footer-second-list-link:focus {
    color: rgba(255, 209, 128, 0.5);
}

.footer-list-last-link {
    padding-right: 0;
}

.main-footer-down {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;
    background-color: #293449;



}

.flex-for-footer-down {
    display: flex;
    /* delete space-between */
    justify-content: space-between;
}

.social-list {
    display: flex;
    
}

.social-button {
    display: flex;
    background-color: #212a3a;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.social-button img{
    margin: auto;
}

.social-button:hover {
    background-color: #ee3643;
}

.social-button:focus {
    background-color: #ee3643;
}

.main-footer-down ul {
    list-style: none;
}

.main-footer-down a {
    color: #ffda96;
}

.main-footer-down a:hover {
    text-decoration: underline;
}

.main-footer-down a:focus {
    color: #b52933;
}

/*site catalog */

.catalog-navigation-line {
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    
    list-style: none;

    display: flex;
    padding: 0;

}

.catalog-navigation-line a {
    color: #000000;
}

.catalog-navigation-line li {
    margin-right: 16px;
}

.catalog-navigation-line li img {
    margin-right:16px;
    vertical-align: -1px;
}

.catalog-navigation-line li:nth-child(1) {
    margin-right: 0;
}

.catalog-name{
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #32425c;

    background-color: #f2f6f8;
    margin-top: 20px;
}


/* catalog filter */

.filter-sorting,
.filter-sorting-list {
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    margin: 0;
}

.catalog-filter-name,
.items-sorting p {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
}


.catalog-filter-name,
.range-value {
    background-color: #f7f3ec;
}

.catalog-filter-brands-list,
.catalog-filter-power-supply {
    list-style: none;
    margin: 0;

}

.catalog-filter-brands-list li:nth-child(1),
.catalog-filter-power-supply li:nth-child(1){
    margin-top: 0;
}

.catalog-filter-brands-list li,
.catalog-filter-power-supply li {
    margin-top: 12px;
    margin-bottom: 12px;
}

.catalog-filter-brands-list li:nth-last-child(1),
.catalog-filter-power-supply li:nth-last-child(1) {
    margin-bottom: 2px;
}

.catalog-filter-dividing {
    width: 100%;
    height: 1px;
    background-color: #e5e5e5;
}

form fieldset:nth-child(1) {
    margin-bottom: 25px;
}

form fieldset:nth-child(3) {
    margin-bottom: 22px;
}


fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

fieldset ul {
    padding-inline-start: 30px;
}

legend {
    font-size: 17px;
    line-height: 30px;
}

.catalog-filter-price {
    padding-top: 12px;
    padding-bottom: 12px;
}

.range-controls {
    position: relative;
    width: 180px;
    height: 2px;
    padding: 39px 20px;
    margin-bottom: 9px;
    border-radius: 2px;
    background-color: #f7f3ec;
}

.range {
    width: 100%;
    height: 2px;
    background-color: #e2e4e3;
}

.scale {
    height: 100%;
    background-color: #00ca74;
}

.toggle {
    width: 4px;
    height: 4px;
    background-color: #ababab;
    cursor: pointer;
    border-radius: 50%;
    border: 8px solid #ffffff;
}

.min-toggle {
    position: absolute;
    top: 30px;
    left: 20px;
}

.max-toggle {
    position: absolute;
    top: 30px;
    left: 160px;
}

.range-value {
    width: 95px;
    height: 38px;
    border: none;
    border-radius: 3px;
}

.price-controls label:nth-last-child(1) {
    float: right;
}

.filter-brands,
.filter-power {
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
    cursor: pointer;

    position: relative;
}

.filter-form-btn {
    font-family: PT Sans, Arial, sans-serif;
    background-color: #ffffff;
    cursor: pointer;
    padding: 9px 39px;
    margin-top: 75px;

    border: 1px solid #e5e5e5;
    border-radius: 2px;
}

.catalog-filter-brands,
.catalog-filter-power {
    padding-top: 15px;
    padding-bottom: 14px;
}

.catalog-filter-brands-list input {
    display: none;
}

.checkbox-indicator {
    width: 19px;
    height: 19px;

    border: 2px solid #c1c1c1;
    border-radius: 4px;

    position: absolute;
    top: -1px;
    left: -30px;

}

.filter-brands input[type="checkbox"]:checked + .checkbox-indicator {
    background-image: url(../img/checkbox-on.png);

    width: 27px;
    height: 23px;
    border: none;
} 

.catalog-filter-power-supply input {
    display: none;
}

.radio-indicator {
    width: 17px;
    height: 17px;

    border: 4px solid #c1c1c1;
    border-radius: 50%;

    position: absolute;
    top: -2px;
    left: -30px;
}

.filter-power input[type="radio"]:checked + .radio-indicator::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #c1c1c1;
    border: none;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

/*catalog items*/

.catalog-items-sorting a {
    color: rgba(0, 0, 0, 0.3);

    text-decoration: underline dotted red;
}

.catalog-items-sorting a:hover {
    color: #000000;

    text-decoration: underline solid red;
}

.catalog-items-sorting a:focus {
    color: #ee3643;

    text-decoration: none;
}

.items-sorting {
    display: flex;
    background-color: #f7f3ec;
    width: 700px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter-sorting-list {
    list-style: none;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.filter-sorting-list li:nth-child(1) {
    padding-right: 70px;
}

.filter-sorting-list li:nth-child(2) {
    padding-right: 65px;
}

.filter-sorting-list li:nth-child(3) {
    padding-right: 45px;
}

.filter-sorting-list li:nth-child(4) {
    padding-right: 20px;
}

.filter-sorting-list li:nth-child(5) {
    padding-right: 15px;
}

.catalog-items-goods {
    list-style: none;
    margin: 0px;
}

.catalog-items-goods img {
    max-width: 100%;
    height: auto;
}

.catalog-items-goods-navigation ul {
    list-style: none;
}

.goods-page-navigation a{
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    color: #000000;
    padding: 14px;
    margin-right: 10px;

    border: 1px solid lightgrey;
    border-radius: 2px;
}

.goods-page-navigation a:hover {
    border: 2px solid lightgrey;
    border-radius: 2px;
}

.goods-page-navigation a:focus {
    border: 1px solid red;
    border-radius: 2px;
}


.goods-page-navigation a:active {
    color: #ffffff;

    background-color: #ee3643;
    border-radius: 2px;
}

.catalog-items-info {
    margin: 0;
    margin-top: 60px;
    width: 100%;
    background-color: #f2f6f8;
}

.catalog-items-info h2 {
    font-family: Cuprum, Arial, Sans-serif;
    font-size: 24px;
    line-height: 24px;
    font-weight: normal;
    text-transform: uppercase;

    margin: 0;
    padding-top: 66px;
}

.catalog-items-info p {
    font-family: PT Sans, Arial, Sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;

    margin: 0;
    padding-bottom: 70px;
}

/* flex for header */

.main-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 23px;
    align-items: center;
    min-width: 960px;
}

.main-navigation {

    /*min-width: 940px;*/
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    

}

.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.index {
    margin-top: 60px;
}

.main-navigation-bar {
    width: 940px;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.main-header-down {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}



/* change margin from 69 to jastify-content: spase-between */
.site-tel-adres {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 ;
    flex-grow: 8;
}



.enter-account {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

.enter-user {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 69px;
    padding-left: 48px;
    position: relative;
}

.enter-user-icon {
    position: absolute;
    left: 14px;
    top: 13px;
    bottom: 14px;
}

.enter-user-logout {
    position: absolute;
    top: 14px;
    bottom: 14px;
    right: 10px;
}


/* flex for main */

.catalog-list-flex {
    display: flex;
    flex-direction: row;
}

.catalog-list-flex-left {
    display: flex;
    flex-direction: column;
}

.catalog-list-flex-left-top {
    display: flex;
    flex-direction: row;
}

.catalog-list-flex-right {
    display: flex;
    flex-direction: column;
    
}

.catalog-list-flex-right li {
    margin-left: 20px;
    margin-bottom: 20px;
}







.catalog-name {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 30px;
}

/* flex for catalog */

.flex-catalog {
    display: flex;
    
}

.flex-catalog-filter {
    margin-right: 20px;
}

.flex-catalog-items {
    display: flex;
    flex-direction: column;

}

.catalog-items-goods {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}



.flex-catalog-item-goods-navigation {
    display: flex;
    padding: 0px;
    margin-bottom: 14px;
}

.items-goods-navigation {
    margin-top: 30px;
}

/* style for modals windows */

@keyframes bounce {
    0% { transform: translate(-1000px, -50%);}
    80% { transform: translate(-40%, -50%);}
    100% { transform: translate(-50%, -50%);}
}

@keyframes shake {
    0%, 100% { transform: translate(-50%, -50%);}
    10%, 30%, 50%, 70%, 90% { transform: translate(-50%, -51%);}
    20%, 40%, 60%, 80% { transform: translate(-50%, -49%);}
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;

    font-family: Cuprum, Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: #000;

    width: 620px;
    /* height: 424px; */

    background-color: #fff;
    border-top-width: 7px;
    border-top-style: solid;
    border-top-color: #ee3643;
    box-shadow: 0 20px 40px rgba(41,52,73,0.75);
}



.modal-animation {
    animation-name: bounce;
    animation-duration: 0.3s;
}

.modal-error {
    animation-name: shake;
    animation-duration: 0.3s;
}

.modal-contact p {
    margin: 0;
}

.modal-map {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 940px;
    height: 446px;
    box-shadow: 0 0 16px rgba(35,31,32,0.5);
    /* background-image: url('img/mapBackground.jpg'); */

}

.modal-add-items {
    position: absolute;
    top: 411px;
    left: 19%;

    width: 620px;
    height: 275px;

    background-color: #f1f1f1;
    border-top-width: 7px;
    border-top-style: solid;
    border-top-color: #ee3643;
    box-shadow: 0 20px 40px rgba(41,52,73,0.75);
}

.modal-add-items div {
    height: 163px;
    width: 100%;
    background-color: #fff;

}

.modal-add-items p {
    margin: 0;
    position: absolute;
    top: 66px;
    left: 179px;

    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;


}

.modal-add-items img {
    position: absolute;
    top: 48px;
    left: 80px;
}

.modal-add-items a {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;

    background-color: #ee3643;

    width: 220px;

    text-align: center;
    padding-top: 11px;
    padding-bottom: 9px;
    border-radius: 2px;
    display: block;

    position: absolute;
    top: 200px;
    left: 80px;

}

.modal-add-items-btn {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #000;
    background-color: #fff;

    position: absolute;
    top: 200px;
    left: 320px;

    width: 220px;

    text-align: center;
    padding-top: 11px;
    padding-bottom: 9px;
    border: none;
    border-radius: 2px;
    display: block;
    cursor: pointer;


}

.modal-close {
    position: absolute;
    top: 9px;
    right: 9px;

    width: 22px;
    height: 22px;

    font-size: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 2px;

    width: 26px;
    height: 5px;
    background-color: #ee3643;
    border-radius: 1px;
    
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.modal-contact {
    display: grid;
    grid-template-rows: 1fr auto;
}

.modal-contact-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    row-gap: 22px;
    column-gap: 20px;

    margin-top: 49px;
    margin-bottom: 30px;
    padding-left: 80px;
}

.modal-contact-appointment-name {
    display: flex;
    flex-direction: column;


}

.modal-contact-appointment-email {
    display: flex;
    flex-direction: column;


}

.contact-name,
.contact-email {
    width: 188px;
}



.contact-name,
.contact-email,
.contact-text {
    font-family: PT Sans, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #999999;

    border-color: #d7dcde;
    border-style: solid;
    border-width: 2px;
    padding: 9px 14px;
}

.contact-text {
    vertical-align: top;
    width: 429px;
    height: 110px;
    resize: none;
}

.modal-contact-user {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-top: 49px;
    padding-left: 80px;
    padding-right: 80px;
}

.modal-contact-appointment-text {
    display: flex;
    flex-direction: column;
    padding-right: 80px;
}

.modal-textarea {
    padding-left: 80px;
}



.modal-btn {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;

    background-color: #ee3643;

    width: 460px;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 9px;
    border-radius: 2px;
    border-color: #ee3643;
    border-style: solid;
    display: block;

    position: absolute;
    top: 350px;
    left: 80px;
    cursor: pointer;
}

.contact-btn {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;

    background-color: #ee3643;

    width: 460px;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 9px;
    border-radius: 2px;
    border-color: #ee3643;
    border-style: solid;
    display: block;
    cursor: pointer;
    margin: 0 auto;
}

.modal-btn-background {
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #f4f4f4;
    height: 112px;

    z-index: -1;
}

.modal-login-btn {
    top: 35vh;

}
    
.modal-login form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 22px;
    column-gap: 20px;
    margin-top: 49px;
    padding-left: 80px;
}

.login-name,
.login-password,
.login-remember {
    font-family: PT Sans, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #999999;

    border-color: #d7dcde;
    border-style: solid;
    border-width: 2px;
    padding: 9px 14px;
}

.login-name,
.login-password {
    width: 188px;
}

.modal-login-appointment-name {
    display: flex;
    flex-direction: column;
}

.modal-login-appointment-password {
    display: flex;
    flex-direction: column;
}

.modal-login-appointment-remember {
    position: relative;
    width: 460px;
    margin-top: 0;
}

.label-remember {
    display: block;
    padding-left: 40px;
    width: 420px;
}

.label-checkbox-indicator {
    content: "";
    position: absolute;
    top: -3px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #c1c1c1;
    border-radius: 4px;

}

.modal-login-appointment-remember input[type="checkbox"]:checked + .label-checkbox-indicator::before {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: red;

    transform: rotate(45deg);
}

.modal-login-appointment-remember input[type="checkbox"]:checked + .label-checkbox-indicator::after {
    content: "";
    position: absolute;
    top: 9px;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: red;

    transform: rotate(-45deg);
}

.modal-registration-grid {
    padding-top: 40px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 20px;
}

.modal-registration-grid p {
    display: flex;
    flex-direction: column;
}

.modal-registration-input {
    

    padding: 9px 14px;
    border: 2px solid #d7dcde;
    font-family: PT Sans, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #999999;

}

.modal-registration-btn {
    top: 42vh;
}

/* styles for company.html */

.text-style {
    font-family: PT Sans, Arial, sans-serif;
    font-size:13px;
    line-height: 20px;
    font-weight: normal;

}

.company-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    margin-bottom: 25px;
}

.company-page h2 {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    line-height: 32px;
    font-weight: normal;
    color: #32425c;

    margin-top: 20px;
}

.company-page section {
    padding: 0 10px 0 10px;
}

/* style for special-offers.html */

.special-offers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}



.special-offers-discount,
.special-offers-code {
    position: relative;
    max-width: 40%;
    margin: 20px;
    padding: 0 10px 0 10px;
    background-color: #f3f7f9;
    border:#000 3px solid;
    border-radius: 5px;
    color: #ffffff;

}

.special-offers-discount::before,
.special-offers-code::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color:rgba(0, 0, 0, 0.3);
    z-index: 0;
}

.special-offers-discount *,
.special-offers-code * {
    position: relative;
    z-index: 1;
}

.special-offers-discount {
    background-image: url('../img/special-offers-discount.webp');
    background-size: cover;
}

.special-offers-code {
    background-image: url('../img/special-offers-code.webp');
    background-size: cover;
}

/* style for news.html */

.news-title {
    display:flex;
    justify-content: center;
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #32425c;
    text-transform: uppercase;

}


.news-title::before,
.news-title::after {
    content: "";
    width: 50px;
    height: 2px;
    background-color: #ee3643;
    margin: 0 20px 3px 20px;
    align-self: center;
}


.news-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    color: #ffffff;
}

.news-item p:first-of-type {
    margin-top: auto;
    margin-bottom: 0;
}


.news-item-date,
.news-item-content {
    font-family: PT Sans, Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    font-weight: normal;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0;
    
}

.news-item-content {
    padding-bottom: 10px;
}

.news-item::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color:rgba(0, 0, 0, 0.4);
    z-index: 0;
}

.news-item * {
    position: relative;
    z-index: 1;
}

.news-item-title {
    margin: 0;
    padding-top: 15px;
    padding-left: 15px;
}

.news-list-onwebsite {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.news-list-ourlife {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    margin-bottom: 20px;
}

.news-list-blog {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-bottom: 20px;
}


.onwebsite-slider-left,
.onwebsite-slider-right {
    position: relative;
    width: 48%;
}


.slider-button {
    width: 50px;
    height: 50px;

    font-size: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.slider-button-left {
    position: absolute;
    top: 60px;
    left: 10px;
    z-index: 2;
}

.slider-button-left::before,
.slider-button-left::after {
    content: "";

    width: 26px;
    height: 5px;
    background-color: #ee3643;
    border-radius: 2px;

}


.slider-button-left::before {
    transform: rotate(-45deg);
    position: absolute;
    top: 15px;
    right: 14px;

}


.slider-button-left::after {
    transform: rotate(45deg);
    position: absolute;
    top: 30px;
    right: 14px;

}




.slider-button-right {
    position: absolute;
    top: 60px;
    right: 10px;
    z-index: 2;
}



.slider-button-right::before,
.slider-button-right::after {
    content: "";

    width: 26px;
    height: 5px;
    background-color: #ee3643;
    border-radius: 2px;

}


.slider-button-right::before {
    transform: rotate(45deg);
    position: absolute;
    top: 15px;
    left: 12px;

}


.slider-button-right::after {
    transform: rotate(-45deg);
    position: absolute;
    top: 30px;
    left: 12px;

}



.news-onwebsite-arrivals {
    background-color: #34425a;
    background: url('../img/news-onwebsite-arrivals.webp');
    background-size: cover;
    background-position: center -100px;

}

.news-onwebsite-powertools {
    background-color: #34425a;
    background: url('../img/news-onwebsite-powertools.webp');
    background-size: cover;


}

.news-onwebsite-feedback {
    background-color: #34425a;
    background: url('../img/news-onwebsite-feedback.webp');
    background-size: cover;
    
}

.news-onwebsite-summersale {
    background-color: #34425a;
    background: url('../img/news-onwebsite-summersale.webp');
    background-size: cover;
}

.ourlife-slider-left,
.ourlife-slider-right {
    position: relative;
    width: 48%;
}

.news-ourlife-workshop {
    background-color: #34425a;
    background: url('../img/news-ourlife-workshop.webp');
    background-size: cover;
}

.news-ourlife-newstore {
    background-color: #34425a;
    background: url('../img/news-ourlife-newstore.webp');
    background-size: cover;
} 

.news-ourlife-appreciation {
    background-color: #34425a;
    background: url('../img/news-ourlife-appreciation.webp');
    background-size: cover;
}

.news-ourlife-suppliers {
    background-color: #34425a;
    background: url('../img/news-ourlife-suppliers.webp');
    background-size: cover;
}



.blog-slider-left,
.blog-slider-right {
    position: relative;
    width: 48%;
}

.news-blog-improvements {
    background-color: #34425a;
    background: url('../img/news-blog-improvements.webp');
    background-size: cover;
}

.news-blog-top10 {
    background-color: #34425a;
    background: url('../img/news-blog-top10.webp');
    background-size: cover;
}

.news-blog-sustainable {
    background-color: #34425a;
    background: url('../img/news-blog-sustainable.webp');
    background-size: cover;
}

.news-blog-renovation {
    background-color: #34425a;
    background: url('../img/news-blog-renovation.webp');
    background-size: cover;
}

/* style for contact.html */

.company-contact {
    margin-bottom: 25px;

}