body {
    margin: 0;
    padding: 0;

    font-family: PT Sans, Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: bold;
    color: #000000;

    background-color: #ffffff;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

header {
    background-color: #f3f7f9;
}

.main-navigation {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;

    width: 100%;
    margin-bottom: 46px;

    background-color: #293449;
}

.main-navigation-bar,
.buy-navigation {
    list-style: none;
}

.main-navigation-logo {
    display: flex;
}

.main-navigation-logo a {
    font-size: 24px;
    line-height: 24px;
    font-weight: normal;

    padding: 12px 55px;
    background-color: #ee3643;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #b52933;

    margin-bottom: -5px;
}

.main-navigation-bar a,
.buy-navigation a,
.main-navigation-logo a {
    
    color:#ffffff;
}

.main-navigation-bar a:hover{
    background-color: #212a3a;
}

.main-navigation-logo a:hover{
    background-color: #ca2c37;
}

.main-navigation-logo a:focus{
    background-color: #ba2732;
}

/*.main-navigation-search {
    color: #ffffff;
}*/

.main-navigation-search input{
    display: block;
    color: #000000;
    width: 270px;
    padding-top: 13px;
    padding-right: 30px;
    padding-bottom: 15px;
    padding-left: 48px;
    border: none;
    background-color: #293449;
    background: url(../img/icon-search.svg) no-repeat;
    background-position: left 17px top 14px;
}

.main-navigation-focus a {
    display: block;
    width: 106px;
    padding-top: 13px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-left: 18px;
}

.main-navigation-focus img {
    vertical-align: text-top;
    margin-right: 11px;
}

.main-navigation-bar li {
    margin: 0;
    padding: 0;
}

.main-navigation-focus a:focus {
    color: rgba(255,255,255,0.6);

    background-color: #161d29;
}

.buy-navigation a{
    display: block;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-left: 20px;
    background-color: #63a63e;
}

.buy-navigation a:hover {
    background-color: #5fbb2d;
}

.buy-navigation a:focus {
    color: rgba(255,255,255,0.5);

    background-color: #518534;
}

.main-header-down {
    font-family: Cuprum, Arial, sans-serif;
}

.site-info {
    font-style: italic;
    font-size: 16px;
    font-weight: normal;
    line-height: 23px;
    color: #ee3643;
}

.site-tel  {
    margin: 45px 0 0 0;
}

.site-tel a {
    display: block;
    color: #ee3643;
    padding-top: 8px;
    padding-bottom: 7px;
    width: 264px;
    text-align: center;
    border: solid 3px;
    border-color: #ffffff;
}

.site-tel img {
    vertical-align: middle;
    position: relative;
    right: 40px;
}

.site-adres {
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
    margin: 5px 0 45px  0;
}

.enter-navigation  a{
    font-size: 21px;
    line-height: 21px;
    font-weight: normal;
    color: #000000;

    background-color: #ffffff;
}

.enter-navigation {
    list-style: none;
}

.enter-navigation a:hover {
    color: #ee3643;
}

.enter-navigation a:focus {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation-bar {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 17px;
    line-height: 17px;
    font-weight: normal;
    

    list-style: none;
  
}

/* Border for .site-navigation-bar a, and Del for .site-navigation-bar */



.site-navigation-bar a {
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-right: 30px;
    padding-left: 30px;
    display: block;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #293449;
    background-color: #32425c;
}

.site-navigation-bar .bar-left {
    padding-left: 55px;
}

.site-navigation-bar .bar-right {
    padding-right: 55px;
}

.site-navigation-bar a:hover {
    background-color: #293449;
}

.site-navigation-bar a:focus {
    color: rgba(255, 255, 255, 0.5);

    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: #1d2739;
    background-color: #1d2739;
}

.enter-user {
    font-size: 21px;
    line-height: 21px;
    color: #000000;

    background-color: #ffffff;
}

.enter-account-option {
    margin-top: 5px;
    margin-left: 17px;
}

.enter-options {
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
}

.enter-options:hover {
    color: #ee3643;
}

.enter-user:focus {
    color: rgba(0, 0, 0, 0.3);
}

.enter-options:focus {
    color:rgba(50, 66, 92, 0.3)
}

/*main*/

.catalog-list {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;

    margin: 0;
    padding: 0;

    list-style: none;
}

.catalog-list li {
    width: 300px;
}

.catalog-list a {
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;


}

.catalog-list-materials {
    background-color: #ffbf47;
    margin-bottom: 20px;
}

.catalog-list-materials a{
    background-color: #e5ac40;
}

.catalog-list-tools {
    background-color: #3bbce3;
    margin-left: 20px;
    margin-bottom: 20px;
}

.catalog-list-tools a {
    background-color: #35a9cc;
}

.catalog-list-engineering {
    background-color: #dc91d8;
}

.catalog-list-engineering a {
    background-color: #c682c2;
}

.catalog-list-discounts {
    background-color: #8ed78f;
}

.catalog-list-discounts a {
    background-color: #80c180;
}

.catalog-list-delivery {
    background-color: #ffc047;
}
/*                                переопределить после разметки под флекс!!!!
.catalog-tools {
    list-style: none;
}
*/
.catalog-tools-drill h3,
.catalog-tools-perforators h3 {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 36px;
    line-height: 36px;
    color: #ffffff;
}

.catalog-tools-drill p,
.catalog-tools-perforators p {
    line-height: 24px;
    font-weight: normal;
    color: #ffffff;
}

.catalog-tools-drill a,
.catalog-tools-perforators a {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;

    background-color: #ee3643;
}

.catalog-tools-drill {
    background-color: #685c53;
    background-image: url("../img/slider 2.jpg");
    background-repeat: no-repeat;
}

.catalog-tools-perforators {
    background-color: #8f8985;
    background-image: url("../img/slider 1.jpg");
    background-repeat: no-repeat;
}


/*section class="popular-goods"*/

.popular-goods-link {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #32425c;

    background-color: #f9f5f0;
}

.popular-goods-link a {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;

    background-color: #ee3643;
}

.popular-goods-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
}
/*cut img with out border*/
.popular-goods-item,
.items-goods {
    width: 220px;
    height: 318px;
    text-align: center;
    border: 1px solid lightgrey;
}

/*add btn instead img*/
.popular-goods-item:hover,
.items-goods:hover {
    box-shadow: 0 0 10px rgba(122,122,122,0.5);
}

/* add :focus */

.old-price {
    font-size: 17px;
    line-height: 18px;
    text-decoration: line-through;
    color: #a9a9a9;
    text-align: center;
}

/*use gradient*/
.new-price {
    font-size: 17px;
    line-height: 18px;
    color: #ffffff;

    background-color: #ee3643;
	
    text-align: center;
}

/*section popular-brands*/

.popular-brands-link {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #32425c;

    background-color: #f9f5f0;
}

.popular-brands-link a {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;

    background-color: #ee3643;
}

.popular-brands-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.brands-icon {
    width: 220px;
    height: 145px;
    border: 1px solid lightgrey;
    text-align: center;

    margin-top: 20px;
}

.brands-icon:hover {
    box-shadow: 0 0 10px rgba(122,122,122,0.5);
}

/*focus dont work*/
.brand-icon:focus {
    box-shadow: 0 0 5px rgba(122,122,122,0.5);
}
.brand-icon a img:focus {
    filter: alpha(Opacity=30);
    opacity: 0.3;
}

/*section services*/

.services-flex {
    display: flex;
    flex-direction: column;
}

.services-flex-down {
    display: flex;
}

.services {
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;

    background-color: #f4f8f9;
}

.services-rendered {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #000000;
}

.services-btn {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 21px;
    line-height: 30px;
    color: #ffffff;
    text-align: left;
    

    background-color: #32425c;
    display: block;
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    width: 240px;
    border-top: 2px solid #34425a;
    border-bottom: 2px solid #2f3d56;
}

.services-btn:hover {
    background-color: #293449;
}

.services-btn:focus {
    color: #32425c;

    background-color: #ffffff;
    outline: none;
    border: none;
}

.services-btn-layer {
    display: inline-block;
    position: relative;
    left: 230px;
    bottom: 240px;

}

.services-list {
    list-style: none;
}

 .services-list-item h3{
     font-family: Cuprum, Arial, sans-serif;
     font-size: 36px;
     line-height: 36px;
     font-weight: normal;
     color: #32425c;
}

.services-delivery-img {
    position: relative;
    bottom: 150px;
    left: 180px;
}

.services-credit-send {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;

    background-color: #ff5357;
}

/*section company info*/

.flex-info-contacts {
    display: flex;

}

.company-info h2 {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
}

.company-info {
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
}

.delivery-company {
    font-size: 18px;
    line-height: 20px;
    font-weight: normal;
   
    list-style: none;
}
/*list-style-image inherit span*/
.delivery-company span {
    color: #ee3643;
     padding-right: 7px;
}

.company-info a {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;

    background-color: #ee3643;
}

.contacts {
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
}

.contacts h2 {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
}

.contacts img {
    width: 300px;
    height: 158px;
}

.contacts button {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;

    background-color: #ee3643;
    border: none;
    outline: none;
}

/*footer*/

footer {
    margin: 0px;
    padding: 0px;
    
}

.main-footer-top {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: normal;
    color: #f3f7f9;

    background-color: #32425c;

   
}

.flex-for-footer-top {
    display: flex;
    
}

.main-footer-navigation {
    display: flex;
    flex-direction: column;
    
}

.main-footer-navigation-first-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.main-footer-navigation-second-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.main-footer-navigation ul {
    list-style: none;
}


.flex-for-right-top {
    margin-left: auto;
}

.footer-first-list-link {
    color: #f3f7f9;
    padding-left: 25px;
    padding-right: 25px;
}

.footer-second-list-link {
    color: #ffda96;
    padding-left: 25px;
    padding-right: 25px;
}

.footer-first-list-link:hover,
.footer-second-list-link:hover {
    text-decoration: underline;
}

.footer-first-list-link:focus {
    color: rgba(241, 245, 247, 0.5);
}

.footer-second-list-link:focus {
    color: rgba(255, 209, 128, 0.5);
}

.footer-list-last-link {
    padding-right: 0;
}

.main-footer-down {
    font-family: Cuprum, Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: #ffffff;

    background-color: #293449;


}

.flex-for-footer-down {
    display: flex;
    justify-content: space-between;
}

.social-list {
    display: flex;
    
}

.social-button {
    display: flex;
    background-color: #212a3a;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.social-button img{
    margin: auto;
}

.main-footer-down ul {
    list-style: none;
}

.main-footer-down a {
    color: #ffda96;
}

.main-footer-down a:hover {
    text-decoration: underline;
}

.main-footer-down a:focus {
    color: #b52933;
}

/*site catalog */

.catalog-navigation-line {
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    
    list-style: none;
}

.catalog-navigation-line a {
    color: #000000;
}

.catalog-name{
    font-family: Cuprum, Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #32425c;

    background-color: #f2f6f8;
}

/* catalog filter */

.filter-sorting {
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    margin: 0;
}

.catalog-filter-name,
.range-value {
    background-color: #f7f3ec;
}

.catalog-filter-brands-list,
.catalog-filter-power-supply {
    list-style: none;
}

legend {
    font-size: 17px;
    line-height: 30px;
}

.filter-brands,
.filter-power {
    font-size: 15px;
    line-height: 20px;
    font-weight: normal;
}

.filter-form-btn {
    background-color: #ffffff;

    border: 2px solid lightgrey ;
}

/*catalog items*/

.catalog-items-sorting a {
    color: rgba(0, 0, 0, 0.3);

    text-decoration: underline dotted red;
}

.catalog-items-sorting a:hover {
    color: #000000;

    text-decoration: underline solid red;
}

.catalog-items-sorting a:focus {
    color: #ee3643;

    text-decoration: none;
}

.items-sorting {
    display: flex;
    background-color: #f7f3ec;
    width: 700px;
}

.items-sorting ul {
    list-style: none;
    display: flex;
    margin: 0;
}

.catalog-items-goods {
    list-style: none;
}

.catalog-items-goods-navigation ul {
    list-style: none;
}

.goods-page-navigation a{
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    color: #000000;
    padding: 14px;
    

    border: 1px solid lightgrey;
    border-radius: 2px;
}

.goods-page-navigation a:hover {
    border: 2px solid lightgrey;
    border-radius: 2px;
}

.goods-page-navigation a:focus {
    border: 1px solid red;
    border-radius: 2px;
}
/* verify activ */

.goods-page-navigation a:active {
    color: #ffffff;

    background-color: #ee3643;
    border-radius: 2px;
}

/* flex for header */

.main-header {
    display: flex;
    flex-direction: column;
    margin-bottom: 60px;
    align-items: center;
    min-width: 960px;
}

.main-navigation {

    /*min-width: 940px;*/
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    

}

.conteiner {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}

.main-navigation-bar {
    width: 940px;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.main-header-down {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.site-info {
    margin-top: 45px;
}

.site-tel-adres {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 68px;
}

.enter-navigation {
    display: flex;
    flex-direction: row;
    margin-left: auto;

}

.enter-navigation li {
    margin-top: 45px;
}

.enter-navigation li a {
    
    margin-left: 10px;
    padding: 14px 26px 11px ;
}

.enter-account {
    display: flex;
    flex-direction: column;
    margin-top: 45px;
}

.enter-user {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 69px;
    padding-left: 48px;
    position: relative;
}

.enter-user-icon {
    position: absolute;
    left: 14px;
    top: 13px;
    bottom: 14px;
}

.enter-user-logout {
    position: absolute;
    top: 14px;
    bottom: 14px;
    right: 10px;
}

.site-navigation-bar {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0 0 60px;
    padding: 0;
}

/* flex for main */

.catalog-list-flex {
    display: flex;
    flex-direction: row;
}

.catalog-list-flex-left {
    display: flex;
    flex-direction: column;
}

.catalog-list-flex-left-top {
    display: flex;
    flex-direction: row;
}

.catalog-list-flex-right {
    display: flex;
    flex-direction: column;
    
}

.catalog-list-flex-right li {
    margin-left: 20px;
    margin-bottom: 20px;
}


.catalog-list .catalog-tools-drill {
    width: 620px;
}

.catalog-navigation-line {
    display: flex;
    padding: 0;
}



.catalog-name {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 30px;
}

/* flex for catalog */

.flex-catalog {
    display: flex;
    
}

.flex-catalog-items {
    display: flex;
    flex-direction: column;

}

.catalog-items-goods {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}



.flex-catalog-item-goods-navigation {
    display: flex;
}

.items-goods-navigation {
    margin-top: 50px;
}